<div class="container1">
  <div class="button-container">
    <button class="btn" (click)="openLg(content)">
      <span class="btn-name">Сохранить изменения</span>
      <span class="icon-ok">
        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 0C2.91797 0 0 2.91797 0 6.5C0 10.082 2.91797 13 6.5 13C10.082 13 13 10.082 13 6.5C13 2.91797 10.082 0 6.5 0ZM6.5 1C9.54297 1 12 3.45703 12 6.5C12 9.54297 9.54297 12 6.5 12C3.45703 12 1 9.54297 1 6.5C1 3.45703 3.45703 1 6.5 1Z" fill="#828282"/>
          <path d="M4 6L6 8L9 4.5" stroke="#828282"/>
        </svg>
      </span>
    </button>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Ваш список успешно сохранен</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngFor="let item of modalContent">
        <p>Specialist ID: {{item.specId}} - Shop ID: {{item.shopId}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
  <div class="specilists">
    <app-specialists></app-specialists>
  </div>
  <div class="shops">
    <app-shops></app-shops>
  </div>
</div>
