.container {
  padding-right: 0;
  padding-left: 15px;
  width: 100%;
  height: 100%;
}
.main-field {
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 22px 25px;
  font-family: Roboto;
}
.header {
  color: rgba(0, 0, 0, 0.32);
  margin-bottom: 15px;
}
.header span {
  padding-right: 15px;
}
.shops-cards-container {
  padding: 10px;
}
.shop-card {
  display: grid;
  grid-template-columns: 30px 50px auto;
  grid-template-rows: auto auto;
  margin-bottom: 5px;
}
.arrow {
  grid-area: 1/1/3/2;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.shop-logo {
  grid-area: 1/2/3/3;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.72);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: white;
}
.shop-name {
  grid-area: 1/3/2/4;
  color: rgba(0, 0, 0, 0.72);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 6px;
}
.shop-address {
  grid-area: 2/3/3/4;
  color: rgba(0, 0, 0, 0.32);
  line-height: 14px;
  font-size: 12px;
  padding-bottom: 10px;
}
